@import url('https//fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #95bb72;
    font-family: 'Poppins', sans-serif ;
}

form{
    width: 25%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 200px;
}
.btn-success{
    width: 100%;
    border:none; 
    border-radius: 50px;
    margin-top: 9px;

}
.btn-warning{
    width: 100%;
    border:none; 
    border-radius: 50px;
    margin-top: 9px;

}
.btn-danger{
    width: 100%;
    border:none; 
    border-radius: 50px;
    margin-top: 9px;

}
.btn-info{
    width: 100%;
    border:none; 
    border-radius: 50px;
    margin-top: 9px;

}
.form-control{
    border-bottom-color: black;
    box-shadow: none !important;
    border:none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}
h4{
    font-size: 2rem !important;
    font-weight: 700 ;
}
.form-label{
    font-family: 800 !important;
}
@media only screen and (max-width:600px){
    form{
        width: 100% !important;
    }
}
